body {
    background: url("../images/budapest.JPG") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
    background-color:#333;

}
h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.navbar-custom {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    background-color:rgba(0, 0, 0, 0.2);
.navbar-custom.scrolling {
    background-color: #5cb85c;
}

}

.navbar-brand, .navbar-custom {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 1700;
}
.navbar-nav,.nav-item, .nav-link {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.09rem;


}

.blog-header {
    line-height: 1;
    border-bottom: 5px solid #e5e5e5;
    margin-top: 100%;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
    font-size: 2.5rem;
}
@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.card-img-right {
    height: 100%;
}

.card {
    border-radius: 0rem;
    padding: 0.2rem;
    background-color: white;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
    .h-md-250 { height: 250px; }
}

/*
 * Blog name and description
 */
.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
}
.blog-description {
    font-size: 1.1rem;
    color: #999;
}

.words {
    color: black;
}

@media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
}

/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}
.blog-pagination > .btn {
}

.tall {
    margin-top: 23rem;
}


.hover1 figure img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover1 figure:hover img {
    opacity: .5;
}

/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
    background-color: white;
    padding: 1.5rem;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

.archive-color {
    background-color: white;
    padding: 1.5rem;
}


.blog-footer {
    padding: 1.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .5rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 10rem;
}
/*
 * Footer
 */
.container1 {
    position: relative;
    background-color: #295F8E;


}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #247ec7;
}

.container1:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;

}






